* {
  margin: 0;
  padding: 0;
}
html, body{
  height: 100%;
  position: relative;
  margin: 0;
  overflow: hidden;
  -webkit-user-select:none;
  -webkit-tap-highlight-color: transparent;
}
body{
  background: url(../imgs/game-background.png) no-repeat;
  background-size: 100%;
  font-family: 'Microsoft YaHei';
}
.canvas-container {
  width: 320px;
  margin: 0 auto;
}

.imgs {
  display: none;
  transform: translate3d(0, 0, 0);
  //使用 css3 属性开启硬件加速
}
//.touch {
//  width: 50px;
//  height: 80px;
//  background: url(../imgs/game-touch.png) no-repeat;
//  background-size: 100%;
//  position: absolute;
//  top: 100%;
//  left: 50%;
//  margin-top: -100px;
//  margin-left: -15px;
//  animation: blink 2s infinite;
//}
//@keyframes blink {
//  50% {
//    transform: scale(1.2);
//  }
//  100% {
//    transform: scale(1);
//  }
//}