/*
  游戏界面啥的直接用 max-width 先定宽

  translate3d 或者 transition 代替 keyframes 动画
*/


* {
  margin: 0;
  padding: 0;
}
html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;

  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000;
}
/* 整个 page 的 container */

.cover {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  z-index: 10;
  transition: top 1s;
  @keyframes load {
    50% {
      transform: scale(.5) rotate(180deg);
    }
    100% {
      transform: scale(1) rotate(450deg);
    }
  }
  .loading {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: #ff9619;
    left: 50%;
    top: 30%;
    margin-left: -50px;
    border-radius: 20px;
    animation: load 3s infinite;
  }
  .words {
    position: absolute;
    width: 100%;
    top: 65%;
    line-height: 30px;
    font-size: 25px;
    color: #fff;
    text-align: center;
  }
}
.cover-hide {
  top: -100%;
}
/* 给 cover 的 loading 界面 */

.homepage {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../imgs/home-background.png) no-repeat;
  background-size: 100%;
  @keyframes bounce {
    60% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  .banner-bounce {
    animation: bounce .5s;
  }
  /* banner 强行蹦一下 */
  .banner {
    width: 70%;
    height: 65%;
    margin: 0 auto;
    margin-top: 8%;
    background: url(../imgs/home-banner.png) no-repeat;
    background-size: 100%;
  }
  @media (min-aspect-ratio: 3/5) {
    .banner {
      width: 60%;
      height: 65%;
      margin-top: 5%;
    }
  }
  /* 宽高比比较方的屏幕 比如说 iphone4 */

  .stars_1 {
    position: absolute;
    width: 25px;
    height: 65px;
    left: 10%;
    top: 45%;
    background: url(../imgs/stars_1.png) no-repeat;
    background-size: 100%;
  }
  .stars_2 {
    position: absolute;
    width: 35px;
    height: 100px;
    right: 6%;
    top: 25%;
    background: url(../imgs/stars_2.png) no-repeat;
    background-size: 100%;
  }
  .stars_3 {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 12%;
    top: 55.5%;
    background: url(../imgs/stars_3.png) no-repeat;
    background-size: 100%;
  }
  .stars_4 {
    position: absolute;
    width: 30px;
    height: 33px;
    right: 22%;
    top: 78%;
    background: url(../imgs/stars_4.png) no-repeat;
    background-size: 100%;
  }
  .rotate-linear {
    animation: star_rotate  2s linear infinite;
  }
  @keyframes star_rotate {
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  /* 星星们 */

  .start {
    position: relative;
    top: 50%;
    left: 50%;
    margin-left: -83px;
    width: 167px;
    height: 60px;
    background: url(../imgs/start.png) no-repeat;
    background-size: 100%;
  }
  .intro {
    position: relative;
    top: 50%;
    left: 50%;
    margin-left: -83px;
    width: 167px;
    height: 60px;
    background: url(../imgs/intro.png) no-repeat;
    background-size: 100%;
  }
  .start-after {
    animation: start-up 1s;
    top: 0;
  }
  .intro-after {
    animation: intro-up 1.2s;
    top: 10px;
  }
  @keyframes start-up {
    from {
      top: 50%;
    }
    to {
      top: 0;
    }
  }
  @keyframes intro-up {
    from {
      top: 50%;
    }
    to {
      top: 10px;
    }
  }
  @media (min-width: 360px) {
    .start {
      margin-left: -93px;
      width: 185px;
      height: 67px;
    }
    .intro {
      margin-left: -93px;
      width: 185px;
      height: 67px;
    }
  }
  /* 开始 游戏介绍 按钮 */
}
/* 真正首页界面的 container */
