* {
  margin: 0;
  padding: 0;
}
h1 {
  margin-top: 50px;
  text-align: center;
}
.start {
  margin-top: 200px;
  background-color: #00cc99;
  color: #fff;
  line-height: 100px;
  font-size: 40px;
  text-align: center;
}